mixin video(video)
  div.col
    div.card.h-100
      a(href=`/videos/${video.id}`)
        img(src=`/${video.thumbUrl}`).card-img-top
      div.card-body
        div.card-title=video.title
        p.card-text
          span #{video.owner.name} •
          span #{video.meta.views} 회
