extends base

block content
  div(data-id=video._id)#videoContainer.card.mb-3
    video(controls=true height='auto').card-img-top
      source(src="/" + video.fileUrl, type="video/mp4")
    div.card-body
      h5.card-title=video.title
      p.card-text
        small.text-muted 조회수 #{video.meta.views}회 #{createAt}
      if String(video.owner._id) === String(loggedInUser._id)
        .row.mb-2
          a(href=`${video.id}/edit`).text-end 수정 &rarr;
          a(href=`${video.id}/delete`).text-end 삭제 &rarr;
      hr
      div
        div.d-flex.mb-2
          img(src=video.owner.avatarUrl, width='45px', height='45px').rounded-circle
          div.ms-2
            div.mt-2.mb-2=video.owner.name
            div.small=video.description
      hr
      if loggedIn
        .row
          form#commentForm
            textarea.form-control.mb-2
            button.btn.btn-sm.btn-primary.float-end 댓글 등록
      #video__comments.row.ps-3
        each comment in video.comments.reverse()
          div(data-id=comment.id).p-1.d-flex.justify-content-between.mb-2
            div.d-flex
              img(src=comment.owner.avatarUrl, width='45px', height='45px').rounded-circle
              div.ms-2
                div=comment.owner.name
                div.small=comment.text
            if String(comment.owner._id) === String(loggedInUser._id)
              a(href="javascript:return false;") ❌
block scripts
  if loggedIn
    script(src="/static/js/commentSection.js")
